<div class="page-container">
    <div>
        <div data-aos="fade-right" data-aos-duration="2000" class="welcome-icon"> <img class="" src="images/icon1.png" alt="" width="120px" height="130px"></div>
        <div class="welcome-icon"> <img class="" src="images/loader2.gif" alt="" width="200px" height="200px"></div>

        <div class="btns">
            <button [routerLink]="'/member-dashboard'" class="btn btn-outline-danger me-2">Dashboard <i class="ms-1">→</i></button>
            <!-- <button class="btn btn-outline-danger me-2">Request Loan <i class="ms-1">→</i></button> -->
            <!-- <button class="btn btn-outline-danger">Profile<i class="ms-1">→</i></button> -->
        </div>


    </div>

</div>