<div class="row  login-background-1">

    <div class="col-lg-6 col-sm-12 m-auto div1">
        <p class="text-center mb-4 text-light app-name typing-animation">{{ displayAppNameText }}</p>
        <img class="mb-3" src="images/cvr2.png" alt="" width="" height="70%">

        <!-- <div class="portfolio">
            <a href="https://ayigotech.onrender.com/">Developer: ayigotech</a>
        </div> -->


    </div>
    <div class="col-lg-6 col-sm-12  div2">



        <div class="card">
            <div class="card-img-container">
                <img class="" src="images/icon1.png" alt="" width="120px" height="120px">
            </div>
            <div class="">
                <form #formData [formGroup]="loginForm" (ngSubmit)="onSubmitForm()">
                    <div class="mb-3">
                        <div class="input-group ">
                            <span class="input-group-text">
                                <i class="bi bi-person"></i> 
                              </span>
                            <input type="text" placeholder="Username" class="form-control" id="username" formControlName="username" [ngClass]="{ 'is-invalid': isSubmitted && formControls['username'].errors }" />
                        </div>

                        <div *ngIf="isSubmitted && formControls['username'].errors" class="invalid-feedback d-block">
                            <div *ngIf="formControls['username'].errors['required']">Username is required</div>
                        </div>
                    </div>




                    <div class="mb-3">
                        <div class="input-group">
                            <span class="input-group-text">
                                <i class="bi bi-lock"></i> 
                              </span>
                            <input type="password" placeholder="Password" class="form-control" id="password" formControlName="password" [ngClass]="{ 'is-invalid': isSubmitted && formControls['password'].errors }" />
                        </div>

                        <div *ngIf="isSubmitted && formControls['password'].errors" class="invalid-feedback d-block">
                            <div *ngIf="formControls['password'].errors['required']">Password is required</div>
                            <div *ngIf="formControls['password'].errors['minlength']">Password must be at least 6 characters</div>
                        </div>
                    </div>




                    <div *ngIf="errorMessage" class="alert alert-danger">
                        {{ errorMessage }}
                    </div>



                    <div class="d-grid mb-4">
                        <button type="submit" class="btn main-btn-color" [disabled]="isLoading">
                            <span *ngIf="!isLoading">Login</span>
                            <span *ngIf="isLoading">
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Logging in...
                            </span>
                        </button>
                    </div>

                    <div class="d-grid">
                        <button type="button" class="btn btn-outline-danger" [routerLink]="'/signup'">
                            <span>Don't have account? Register</span>
                             
                        </button>
                        <span class="p-2 readme" [routerLink]="'/'"> <i class="bi bi-info-circle"></i></span>


                    </div>

                </form>
            </div>
            <div class="portfolio">
                <a href="https://ayigotech.onrender.com/">developer portfolio: ayigotech</a>
            </div>
        </div>
    </div>



</div>