<div class="page-container">
    <div data-aos="fade-right" data-aos-duration="3000">
        <div class="welcome-icon">👋</div>
        <h1 class="fw-bold fs-3 text-muted">Hi, {{first_name}}</h1>
        <h2>Welcome to <span class="credit-union">Petty Traders SUSU</span></h2>
        <p>Thank you for signing up. We're excited to have you as a member of this platform.</p>
        <!-- <p>Your Membership Number is: <span class="membership-number">CU-00123</span></p> -->
        <button [routerLink]="'/login'" class="btn btn-outline-danger">Login <i class="ms-1">→</i></button>
    </div>

</div>